.form {
  color: #b98039;
}

.input-container {
  display: flex;
  flex-direction: column;
}


.form-title, .second-title {
  font-size: 18px;
  color: #511348;
  padding-bottom: 15px;
  padding-top: 15px;
}

.label {
  margin-bottom: 10px;
  font-size: 20px;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid olive;
  box-shadow:  rgba(92, 78, 78, 0.3) 0px 2px;
  font-size: 20px;
  height: 30px;
  margin-bottom: 15px;
  outline: none;
  overflow-wrap: break-word;
  overflow: hidden;
  transition: box-shadow 0.1s ease-out 0s;
  width: 95%;
}

/* remove styling of button out later */
.button {
  background-color: #511348;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  margin: 20px 10px 20px 10px;
  padding: 10px;
  text-align: center;
}

.logout-button {
  background-color: #5e6072;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  margin: 20px 10px 20px 10px;
  padding: 10px;
  text-align: center;
}

.other-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.other-option-line {
  font-style: italic;
  color: #5e6072;
}

.nav-link {
  text-decoration: none;
  font-weight: 700;
  padding: 10px;
}
