.result-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color:#cfd2b7;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #5e6072;
}

.result-status {
  font-weight: 600;
  font-size: 22px;
  color: #511348;
}

.fail-result-status {
  color: #FF0000;
}

.result-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.result-details {
  margin: 0 0 10px 0;
  padding-top: 5px;
  color: #b98039;
}

.result-details-title{
  font-weight: 600;
}

.qrcode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-elements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
