.action-button {
  background-color: #5e6072;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  margin: 10px 5px 10px 50px;
  padding: 8px;
  text-align: center;
}
.table, .table-header, .table-cell {
  border: 1px solid #5e6072;
  border-collapse: collapse;
}

.table-header {
  text-align: left;
}
